$row-back : #F3F6F9;

.cart-main-wrapper{
    border: 1px solid #B3BDBC;
    border-radius: 3px;
    overflow: hidden;
    color: $text-color;
    background: #fff;
    width: 100%;
    .mob-header{
        padding: 10px;
        background: $disabled-color;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        font-weight: 600;
        color: $text-color;
        border-bottom: 1px solid #B3BDBC;
    }
    .empty-view{
        text-align: center;
        padding: 40px 20px;
        h3{
            display: none;
        }
        img{
            width: 60%;
            margin: 0 auto;
        }
    }
    .content-area{
        padding: 10px 5px 5px;
        // font-size: 14px;
        .empty-text{
            text-align: center;
            padding: 10vh 20px;
            color: $button-background;
        }
        .single-item-row{
            margin-bottom: 10px;
            .row-head{
                background: $row-back;
                padding: 5px 10px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: space-between;
                opacity: 0.9;
                &.active{
                    opacity: 1;
                    .icon{
                        opacity: 1;
                        span{
                            &:last-child{
                                transition: all 0.3s ease-in-out;
                                transform: rotate(0deg);
                            }
                        }
                    }
                }
                .icon{
                    background-color: $text-color;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    opacity: 0.5;
                    span{
                        display: block;
                        height: 2px;
                        width: 50%;
                        background: #fff;
                        position: absolute;
                        transition: all 0.3s ease-in-out;
                        &:last-child{
                            transform: rotate(90deg) translateY(00px);
                        }
                    }
                }
            }

            .row-content{
                padding: 10px;
                max-height: 35vh;
                overflow-y: auto;
                display: none;
                .inner-row{
                    margin-bottom: 10px;
                    border-bottom: 1px solid $disabled-color;
                    padding-bottom: 10px;
                    .group-title{
                        font-weight: 600;
                        margin-bottom: 20px;
                    }
                    &:last-child{
                        border-bottom:none;
                        margin-bottom: 0;
                    }
                    .wrap-top-title{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 8px;
                        margin-top: 15px;
                        a{
                            display: block;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            border: 1px solid $cart-color;
                            font-size: 12px;
                            border-radius: 3px;
                            text-transform: uppercase;
                            color: $cart-color;
                            padding: 2px 5px;
                            &:hover{
                                background-color: $disabled-color;
                            }
                            span{
                                line-height: 16px;
                            }
                        }
                    }
                    .item-title{
                        font-weight: 600;
                    }
                    .desc-price{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
                img{
                    max-width: 100px;
                }
            }
        }
        .total-view{
            background-color: $row-back;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 10px;
            font-weight: 600;
            font-size: 16px;
        }
    }
}

@media screen and (min-width: 1200px){
    .cart-main-wrapper{
        margin-bottom: 40px;
        .mob-header{
            display: none;
        }
        .empty-view{
            padding-top: 15px;
            h3{
                display: block;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 30px;
            }
            img{
                width: 80%;
            }
        }
        .content-area{
            min-height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .empty-text{
                padding: 10vw 10px;
                font-size: 14px;
            }
            .single-item-row{
                .row-head{
                    padding: 12px 15px;
                    cursor: pointer;
                    span{
                        font-size: 18px;
                    }
                }
                .row-content{
                    padding: 15px;
                    max-height: 300px;
                    .inner-row{
                        margin-bottom: 15px;
                        padding-bottom: 15px;
                        .wrap-top-title{
                            margin-bottom: 5px;
                            .item-title{
                                font-size: 16px;
                            }
                        }
                        .desc-price{
                            font-size: 15px;
                        }
                        
                    }
                }
            }
            .total-view{
                padding: 15px;
                font-size: 18px;
                // font-weight: 500;
                text-transform: uppercase;
            }
        }

    }
}