.process-steps-wrapper{
    
    width: 100%;
    .mobile-progressbar-card{
        position: fixed;
        top: 98px;
        z-index: 10;
        width: 100%;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        &.below-ten{
            .wrapper-progressbar{
                .middle-row{
                    .progress-fill{
                        span{
                            position: absolute;
                            color: #8c8c8c;
                            left: 4px;
                        }
                    }
                }
            }
        }
        .wrapper-progressbar{
            background: $cart-color;
            padding:15px 10px;
            width: calc(100% - 50px);
            .middle-row{
                width: 100%;
                height: 20px;
                border-radius: 30px;
                background: #fff;
                position: relative;
                display: flex;
                padding: 2px;
                align-items: center;
                .progress-fill{
                    height: 100%;
                    background-color: $secondary-color;
                    border-radius: 30px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    span{
                        padding:0 5px;
                        display: block;
                        color: #fff;
                        font-size: 11px;
                        font-weight: 100;
                    }
                }
            }
        }
        button{
            width: 50px;
            background: $button-background;
            border: none;
            svg{
                width: 20px;
                height: 20px;
                fill: #fff;
            }
            .close-icon{
                display: none;
                svg{
                    width: 15px;
                    height: 15px;
                }
            }
            &.active{
                background: #ff0000;
                .open-icon{
                    display: none;
                }
                .close-icon{
                    display: block;
                }
            }
        }
    }
    .inner-process-items{
        width: max-content;
        display: flex;
        display: none;
        .single-process{
            &:first-child{
                width: 160px;
                .wrapper-process{
                    align-items: flex-start;
                    justify-content: flex-start;
                    .sub-precess-wrapper{
                        left: 50px;
                        width:  calc(100% + 50px);
                    }
                }
                .top-title{
                    text-align: left;
                }
            }
            &:nth-child(4){
                .wrapper-process{
                    .sub-precess-wrapper{
                        width: calc(60% - 60px);
                    }
                }
            }
            &.active{
                .top-title{
                    color: $secondary-color;
                }
                .wrapper-process{
                    .number-indicator{
                        background-color: $secondary-color;
                    }
                    .sub-precess-wrapper{
                        .wrap-bar{
                            .fill-valued{
                                background-color: $secondary-color;
                                border-radius: 5px;
                                .toptip-value{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
        .top-title{
            text-align: center;
            width: 270px;
            color: $disabled-color;
            h2{
                font-size: 19px;
                line-height: 20px;
                font-weight: 600;
            }
            span{
                display: none;
            }
        }
        .wrapper-process{
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: center;
            flex-direction: column;
            position: relative;
            .number-indicator{
                width: 42px;
                height: 42px;
                color: #fff;
                background: #e0e0e0;
                border-radius: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 50%;
                }
            }
            .sub-precess-wrapper{
                position: absolute;
                left: 60%;
                top: 20px;
                width: calc(60% + 50px);
                .wrap-bar{
                    width: 100%;
                    height: 8px;
                    background: #f0f2f2;
                    border-radius: 5px;
                    position: relative;
                    overflow: hidden;
                    .fill-valued{
                        display: block;
                        position: absolute;
                        left: 0;
                        height: 100%;
                        background-color: #f0f2f2;
                        .toptip-value{
                            display: none;
                            right: -16.5px;
                            position: absolute;
                            top: -25px;
                            z-index: 2;
                            background-color: $secondary-color;
                            color: #fff;
                            font-size: 11px;
                            line-height: 15px;
                            padding: 2px 3px;
                            border-radius: 3px;
                            width: 33px;
                            text-align: center;
                            &:after {
                                content:'';
                                position:absolute;
                                width:5px;
                                height:5px;
                                left:50%;
                                transform:translate(-50%,-50%) rotate(45deg);
                                background-color:$secondary-color;
                                z-index: -1;
                                bottom: -5px;
                            }
                        }   
                    }
                }
            }
        }
        .last-step{
            position: relative;
            padding-right: 35px;
            &.active{
                span{
                    background-color: $secondary-color;
                }
            }
            span{
                display: block;
                width: 20px;
                height: 20px;
                background: $disabled-color;
                border-radius: 15px;
                position: absolute;
                bottom: 11px;
            }
        }
    }
}

@media screen and (min-width: 900px){
    .process-steps-wrapper{
        .mobile-progressbar-card{
            top: 97px;
        }
    }
}


@media screen and (min-width: 1200px){
    .process-steps-wrapper{
        overflow: inherit;
        padding: 0;
        .mobile-progressbar-card{
            display: none;
        }
        .inner-process-items{
            width: 100%;
            justify-content: space-between;
            display: flex;
            margin-bottom: 35px;
            .single-process{
                width: 15%;
                &:first-child{
                    // width: 25%;
                    width: 135px;
                    .wrapper-process{
                        .sub-precess-wrapper{
                            left: 40px;
                            width: calc(100% + 250px);
                        }
                    }
                }
                &:nth-child(2){
                    width: 65%;
                    .wrapper-process{
                        .sub-precess-wrapper{
                            left: 54%;
                            width: calc(100% - 283px);
                        }
                    }
                }
            }
            .top-title{
                width: 100%;
                h2{
                    margin-bottom: 5px;
                    font-size: 13px;
                }
            }
            .wrapper-process{
                .number-indicator{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                        display: block;
                        font-size: 11px;
                        line-height: 12px;
                    }
                }
                .sub-precess-wrapper{
                    top: 12px;
                    left: 67%;
                    width:calc(80% - 70px);
                }
            }
            .last-step{
                .icon{
                    bottom: 0;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg{
                        width: 17px;
                        height: 17px;
                        fill: #fff;
                    }
                }
            }
        }
    }
}