.reviews-list {
    max-height: 440px;
    overflow-y: scroll;
}
.review {
    display: flex !important;
    align-items: center;
    gap: 4px;
    background: #FFFFFF;
    border: 1px solid #E4E7EC;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 16px !important;
    cursor: pointer;
}
.review__inner {
    width: 100%;
}
.review .details-item {
    flex-shrink: 0;
    width: 16px;
}
.review__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
    font-size: 14px;
    color: #667085;
    font-weight: 500;
}
.review__info {
    display: flex;
    align-items: center;
    gap: 5px;
}
.review__title {
    color: #101828;
}
.review__product-name {
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;
}
.review__rating {
    margin-bottom: 15px;
}
.review__content {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
}
.review use:nth-child(2) {
    transform: translate(20px);
}
.review use:nth-child(3) {
    transform: translate(40px);
}
.review use:nth-child(4) {
    transform: translate(60px);
}
.review use:nth-child(5) {
    transform: translate(80px);
}
.rating {
    display: block;
    height: 20px;
    width: 100px;
}
.template-reviews {
    background: #fff;
    padding: 20px;
}
.template-reviews .review {
    border: none;
    max-width: 450px;
    margin: 0 auto 30px;
}