<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
<div class="page-login">
  {% include 'header.html' %}


  <div class="login">
    <form action="" class="forgot-password">
      <div class="forgot-password__title">
        Recupereaza Parola
      </div>
      <div class="forgot-password__caption">
        Iti vom trimite un email cu link-ul de recuperare parola, verifica inbox-ul si urmeaza pasii.
      </div>
      <div class="form-item required">
        <label for="email" class="form-label">Introdu Adresa de Email</label>
        <input class="form-field" id="email" required type="email">
      </div>
      <button class="btn">
        TRIMITE LINK RECUPERARE
      </button>
      <div class="login__caption">
        <strong>Ai nevoie de ajutor?</strong> <a href="">Contacteaza-ne</a>
      </div>
    </form>
  </div>



  {% include 'footer.html' %} {% include 'popups.html' %} {% include
  'js.html' %}
</div>
</body>
</html>
