<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
<div class="page-login">
  {% include 'header.html' %}


  <div class="login">
    <form action="" class="forgot-password change-password">
      <div class="forgot-password__title">
        Recupereaza Parola
      </div>
      <div class="forgot-password__label">
        nakedadmin@gmail.com
      </div>
      <div class="forgot-password__caption">
        Un email cu link-ul de recuperare parola a fost trimis catre nakedadmin@gmail.com.
      </div>
      <div class="form-item required">
        <label for="password" class="form-label">Introdu parola contului tau</label>
        <input class="form-field" id="password" required type="password">
      </div>
      <div class="form-item required">
        <label for="repeat-password" class="form-label">Repeta parola</label>
        <input class="form-field" id="repeat-password" required type="password">
      </div>
      <button class="btn">
        SCHIMBA PAROLA
      </button>
      <div class="login__caption">
        <strong>Ai nevoie de ajutor?</strong> <a href="">Contacteaza-ne</a>
      </div>
    </form>
  </div>



  {% include 'footer.html' %} {% include 'popups.html' %} {% include
  'js.html' %}
</div>
</body>
</html>
