.page-cart {
  .breadcrumbs-list {
    max-width: 1210px;
  }
  .products {
    margin-bottom: 100px;
    @include response(767px) {
      margin-bottom: 60px;
    }
  }
}
.cart-page {
  &-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 40px;
  }
}
.cart-empty {
  padding: 50px 15px;
  background: linear-gradient(135deg, #FFE3D1 0%, #F0D4FF 100%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
  &__title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 160%;
    font-weight: 500;
    color: #5C6061;
    @include response(767px) {
      flex-direction: column;
      text-align: center;
    }
  }
  @include response(767px) {
    margin-bottom: 70px;
  }
}


.cart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  &__inner {
    max-width: 760px;
    width: 100%;
    @include response(1200px) {
      margin-bottom: 40px;
    }
    @include response(767px) {
      margin-bottom: 60px;
    }
  }
  &-table {
    &__heading,
    &__row {
      display: flex;
      align-items: center;
      gap: 20px;
      & > div {
        width: 120px;
      }
      .img {
        width: 100px;
        flex-shrink: 0;
      }
      .name {
        width: 180px;
      }
      .remove {
        width: 35px;
      }
    }
    &__heading {
      text-align: center;
      height: 61px;
      background: #F9F9F9;
      border-radius: 5px;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 10px;
      @include response(767px) {
       .price {
         display: none;
       }
      }
    }
    &__row {
      padding-bottom: 20px;
      border-bottom: 1px solid #e9e9e9;
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 160%;
      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
      }
      &-inner {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100% !important;
        position: relative;
        //margin-right: -20px;
        & > div {
          width: 120px;
          @include response(767px) {
            width: 100% !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #e9e9e9;
            &:last-child,
            &:nth-last-child(2) {
              border: none;
              padding-bottom: 0;
            }
            &.remove {
              position: absolute;
              top: 3px;
              right: 0;
              width: auto !important;
            }
            &.name {
              padding-right: 30px;
            }
          }
        }
        @include response(767px) {
          flex-wrap: wrap;
        }
      }
      .price,
      .total {
        text-align: center;
      }
      a {
        color: #1A0A1B;
        text-decoration: none;
      }
      .select {
        width: 55px;
        border: 1px solid #5C6061;
        border-radius: 5px;
        padding-left: 14px;
        padding-right: 20px;
        margin: 0 auto;
        @include response(767px) {
          margin: 0;
        }
      }
    }
    &__col-label {
      display: none;
      @include response(767px) {
        display: block;
      }
    }
  }
  &__aside {
    width: 380px;
    max-width: 100%;
    &-inner {
      background: #F9F9F9;
      border: 1px solid #E9E9E9;
      border-radius: 5px;
      padding: 30px;
      margin-bottom: 40px;
      @include response(767px) {
        padding: 30px 15px;
      }
    }
  }
  &-summary {
    margin-bottom: 30px;
    &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 160%;
      margin-bottom: 30px;
    }
    &__row {
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      &.total {
        padding-top: 30px;
        border-top: 1px solid #e9e9e9;
        .cart-summary__value {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
    &__label {
      font-weight: 700;
      text-transform: uppercase;
    }
    &__value {
      font-size: 15px;
      text-align: right;
      span {
        font-weight: 500;
      }
    }
  }
  @include response(1200px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.remove-from-cart {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.delivery-options {
  margin-bottom: 30px;
}

.delivery-option {
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
  input {
    height: 0;
    width: 0;
    opacity: 0;
    &:checked {
     & ~ .delivery-option__inner {
        border-color: #FF5981;
       .delivery-option__heading {
         color: #1A0A1B;
         svg path {
           fill: #1A0A1B;
         }
       }
       .delivery-option__price {
         color: #FF5981;
       }
       .delivery-option__box {
         height: 66px;
         margin-top: 10px;
         @include response(767px) {
           height: 95px;
         }
       }
      }
    }
  }
  &__inner {
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    padding: 20px;
    font-size: 12px;
    line-height: 160%;
    @include transition();
    @include response(767px) {
      font-size: 14px;
      padding: 20px 10px;
    }
  }
  &__box {
    display: block;
    height: 0;
    overflow: hidden;
    @include transition();
  }
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #5C6061;
    @include transition();
    svg path {
      fill: #5C6061;
      @include transition();
    }
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__price {
    @include transition();
  }
  &__subtitle {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__caption {
    color: #5C6061;
  }
  &:hover {
    .delivery-option__inner {
      border-color: #FF5981;
    }
  }
}

.confirm-policy {
  display: flex;
  gap: 15px;
  cursor: pointer;
  margin-bottom: 30px;
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 21px;
    border: 1px solid #FF5981;
    border-radius: 2px;
    flex-shrink: 0;
    svg {
      opacity: 0;
      @include transition();
    }
  }
  &__label {
    line-height: 160%;
    color: #5C6061;
    a {
      font-weight: 500;
      color: #FF5981;
      text-decoration: none;
    }
    span {
      color: #1A0A1B;
      font-weight: 500;
    }
  }
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked {
      & ~ .confirm-policy__box svg {
        opacity: 1;
      }
    }
  }
}
.cart-checkout-btn.btn {
  margin: 0 auto;
  width: 100%;
  height: 66px;
}

.discount {
  &__box {
    height: 54px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
    padding: 0 20px;
    line-height: 160%;
    color: #5C6061;
  }
  &__value {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    text-transform: uppercase;
    color: #FF5981;
  }
  &-applied {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    line-height: 160%;
    color: #5C6061;
    &__item {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 37px;
      padding: 0 15px;
      background: #F9F9F9;
      border-radius: 5px;
      font-size: 13px;
      line-height: 160%;
      font-weight: 500;
      text-transform: uppercase;
      color: #1A0A1B;
    }
    &__remove {
      cursor: pointer;
    }
  }
}