.products-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  @include response(767px) {
    gap: 10px;
  }
}

.product-item {
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  display: block;
  width: 280px;
  text-align: center;
  text-decoration: none;
  color: #1A0A1B;
  margin-bottom: 20px;
  max-width: calc(33.33333% - 20px);
  &__thumb {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    img {
      @include transition(.5s);
    }
  }
  &__title {
    font-size: 15px;
    line-height: 160%;
    margin-bottom: 5px;
    font-weight: 500;
    @include response(767px) {
      font-size: 14px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__price {
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 500;
    gap: 7px;
    .new-price {
      color: #FF5981;
    }
    .old-price {
      font-size: 15px;
      font-weight: 400;
      text-decoration: line-through;
      color: #5c6061;
      @include response(767px) {
        font-size: 11px;
      }
    }
    @include response(767px) {
      font-size: 15px;
    }
  }
  &:hover {
    .product-item__thumb img {
      transform: scale(1.2);
    }
  }
  @include response(767px) {
    max-width: calc(50% - 10px);
    margin-bottom: 10px;
  }
}

.star-rating {
  display: flex;
  gap: 5px;
  justify-content: center;
  &[rate="1"] {
    svg:nth-child(1) path {
      fill: #ff995b;
    }
  }
  &[rate="2"] {
    svg:nth-child(1) path,
    svg:nth-child(2) path {
      fill: #ff995b;
    }
  }
  &[rate="3"] {
    svg:nth-child(1) path,
    svg:nth-child(2) path,
    svg:nth-child(3) path {
      fill: #ff995b;
    }
  }
  &[rate="4"] {
    svg:nth-child(1) path,
    svg:nth-child(2) path,
    svg:nth-child(3) path,
    svg:nth-child(4) path {
      fill: #ff995b;
    }
  }
  &[rate="5"] {
    svg:nth-child(1) path,
    svg:nth-child(2) path,
    svg:nth-child(3) path,
    svg:nth-child(4) path,
    svg:nth-child(5) path {
      fill: #ff995b;
    }
  }
}