.shipping-wrapp {
  overflow: visible;
}

.shipping-heading {
  padding: 40px 0;
  max-width: 840px;
  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    margin: 0 0 16px;
    @include response(767px) {
      font-size: 28px;
    }
  }
}
.shipping-nav {
  padding: 20px 0 8px;
  border-top: 1px solid $main-30;
  border-bottom: 1px solid $main-30;
  position: sticky;
  overflow: hidden;
  left: 0;
  top: 95px;
  background: #fff;
  z-index: 3;
  &__label {
    font-weight: 700;
    font-size: 12px;
    line-height: 135%;
    color: $main-70;
    margin-bottom: 8px;
  }
  &__list {
    display: flex;
    gap: 8px;
    overflow: auto;
   padding-bottom: 12px;
    scrollbar-gutter: stable both-edges;
    @include response(767px) {
      margin-right: -15px;
    }
  }
  &-item  {
    border: 1px solid $main-30;
    border-radius: 2px;
    background: $main-10;
    padding: 10px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    flex-shrink: 0;
    @include transition();
    &__title{
      display: flex;
      gap: 6px;
      align-items: center;
      padding-bottom: 4px;
      border-bottom: 1px solid $main-30;
      @include transition();
      svg path {
        @include transition();
      }
    }
    &.active {
      background: $main-70;
      border-color: $main-70;
      .shipping-nav-item__title {
        color: #fff;
        border-color: transparent;
        svg path {
          fill: #fff;
        }
      }
    }
    @include hover {
      background: $main-70;
      border-color: $main-70;
      .shipping-nav-item__title {
        color: #fff;
        border-color: transparent;
        svg path {
          fill: #fff;
        }
      }
    }
    @include response(767px) {
      &:last-child {
        margin-right: 30px;
      }
    }
  }
}
.shipping-title {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  margin-bottom: 40px;
  svg {
    flex-shrink: 0;
  }
}
.shipping-caption {
  margin-bottom: 40px;
}
.classification {
  padding: 60px 0;
  .classification-table {
    flex-wrap: nowrap;
    padding: 0;
    border: none;
    margin-bottom: 40px;
    @include response(1200px) {
      flex-wrap: wrap;
    }
    @include response(767px) {
      justify-content: center;
      margin-bottom: 0;
    }
  }
  .classification-item {
    display: block;
    border: none;
    border-right: 1px solid $main-30;
    padding: 0 40px;
    margin: 0;
    &:last-child {
      border: none;
      padding-right: 0;
    }
    &:first-child {
      padding-left: 0;
    }
    &__heading {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 10px;
    }
    &__caption {
      color: #000;
      text-transform: none;
      font-size: 16px;
      font-weight: 400;
      max-width: 260px;
      @include response(1200px) {
        max-width: 100%;
      }
    }
    @include response(1200px) {
      &:nth-child(3) {
        padding-left: 0;
      }
      &:nth-child(2) {
        border-right: none;
      }
      &:nth-child(1),
      &:nth-child(2) {
        padding-bottom: 20px;
        border-bottom: 1px solid $main-30;
      }
      &:nth-child(3),
      &:nth-child(4) {
        padding-top: 20px;
      }
    }
    @include response(767px) {
      width: 100%;
      border: none;
      border-bottom: 1px solid $main-30;
      padding: 0 0 16px !important;
      margin-bottom: 16px;
    }
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    @include response(767px)  {
      flex-wrap: wrap;
      gap: 32px;
    }
  }
  &-note {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 22px;
    background: $main-10;
    border: 1px solid $main-30;
    border-radius: 2px;
    font-size: 14px;
    color: $main;
    width: calc(50% -  22px);
    flex-shrink: 0;
    svg {
      flex-shrink: 0;
    }
    @include response(767px)  {
      width: 100%;
      padding: 16px;
    }
  }
  &-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% -  22px);
    flex-shrink: 0;
    padding: 20px 40px;
    border: 1px solid $main-30;
    font-size: 17px;
    @include response(767px)  {
     width: 100%;
      padding: 0;
      border: none;
    }
  }
  @include response(767px) {
    padding: 48px 0;
  }
}
.shipping {
  &-list {
    display: flex;
    margin-bottom: 32px;
    @include response(1000px) {
      flex-wrap: wrap;
      margin-bottom: 16px;
    }
  }
  &-item {
    border-right: 1px solid $main-30;
    padding: 0 40px;
    width: calc(100% / 3);
    &:first-child  {
      padding-left: 0;
    }
    &:last-child {
      border: none;
      padding-right: 0;
    }
    &__map {
      width: 370px;
      margin-bottom: 20px;
      @include response(1300px) {
        max-width: 100%;
      }
    }
    &__title {
      display: flex;
      gap: 10px;
      font-weight: 700;
      font-size: 19px;
      line-height: 155%;
      margin-bottom: 32px;
    }
    &__marker {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: $approval;
      color: #fff;
      font-size: 14px;
      position: relative;
      top: 2px;
      flex-shrink: 0;
    }
    &__caption  {
      padding-left: 34px;
    }
    @include response(1000px) {
      width: 100%;
      padding: 16px 0 !important;
      border-bottom: 1px solid $main-30;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .brand-heading__note  {
    margin-bottom: 32px;
  }
}

.policies {
  display: flex;
  margin-bottom: 20px;
  &-item {
    padding: 60px 0;
    .classification-note {
      width: 100%;
    }
    & > .content-area {
      margin-bottom: 40px;
      line-height: 155%;
    }
    @include response(767px) {
      padding: 48px  0;
    }
  }
  @include response(767px) {
    flex-wrap: wrap;
  }
}
.tracking {
  padding-right: 80px;
  border-right: 1px solid$main-30;
  @include response(1000px) {
    padding-right: 40px;
  }
  @include response(767px) {
    width: 100%;
    border: none;
    border-bottom: 1px solid $main-30;
    padding-right: 0;
  }
}
.returns {
  padding-left: 80px;
  .classification-note {
    background: #fff;
    border-color: $accent;
  }
  @include response(1000px) {
    padding-left: 40px;
    @include response(767px) {
      width: 100%;
      padding-left: 0;
    }
  }
}